@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,500);
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito|Play');

*{
	margin:0px;
	padding:0px;
	font-family: 'Play';
}

html, body { 
	height : 100%;
}
 
body{
    background-color: #ECECEC ;
    width: 100%;
    height: 100%;
}

header{
    text-align: center;
    color : white;
    background-color: #005FA8;
}

header img{
	margin: -5px;
	pading: -5px;
	width: 100%;
}

header h1{
	padding: 20px;
}

.form h2 {
 	position: absolute;
 	top : 200px;
 	left : 480px;
 	color: #EC8327; 
}

main{
	margin: 0;
}

main nav {
	box-shadow: 1px 1px 10px #373737;
}
main nav a {
	display: inline-block;
	text-decoration: none;
}
main nav ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

main nav ul li b a{
	padding-top : 5px;
}
main nav ul::after{
	content: "";
	display: block;
	clear: both;
}

main nav ul li a{
    text-decoration: none;
    color: white;
    flex: 1 15rem;
    display: block;
    
}

main nav ul li a:hover {
    color: #EC8327;
}

main nav ul li{
    background-color: #373737;
	line-height: 2;
    flex: 1 15rem;
    display: block;
    float: left;
    position: relative;
}

main nav ul li:last-child{
    border-right: 0px solid black; 
}

h4 {
	color: #EC8327;
	
}

.profil{
	
	float:left;
	height:550px; 
    width:15%;
    margin:auto;
    text-align:center;
    vertical-align: middle;
    display: inline-block;
    line-height:2em;
    border-right: 1px solid #373737;
    box-shadow: 1px 1px 5px #373737; 

}

.profil h2 {
	margin-top: 20px;
	text-align : center;
	color: #EC8327;
}


td,tr,th {
	padding-left: 5px;
	padding-right: 5px;
    border: 1px solid black;
    color: #373737;
}

td{
	width: 20%;
	height: 30px;
}

.tab table
{
	width: 100%;
    border-collapse: collapse;
 	color: #373737;
}


.tab {
	float: left;
	width: 69.8%;
	height:550px;
}

.tab h2{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align : center;
	color: #EC8327;
}

.res {
	float:left;
    height:550px;
    width:15%;
    text-align:center;
    vertical-align: middle;
    display: inline-block;
    line-height:2em;
    border-left: 1px solid #373737;
    box-shadow: 1px 1px 10px #373737;
    /*border: 1px solid #373737;*/
}

.res h2{
	margin-top: 20px;
	text-align : center;
	color: #EC8327;
}

.res p {
	margin-top: 10px;
}

.date h2{
	margin-top: 20px;
	text-align : center;
	color: #EC8327;
}

.dateReserv {
	margin-bottom: 30px;
}

.annuler {
	margin-top: 10px;
	border-top: 1px solid black;
}

.div_logo_unistra{
	float:left;
	width: 25%;
	height:595px;
	border-right: 1px solid #373737;
	box-shadow: 10px 0 5px -2px #888;
}

.form{
	float:left;
	margin: 0 auto;
	width: 49.8%;
	height:595px;
	background-color: white;
}

.div_logo_cassin{
	float:left;
	width: 25%;
	height:595px;
	border-left: 1px solid #373737;
}

.logo_unistra{
	margin: 0 auto;
	display:block;
	padding-top: 150px;
}

.logo_cassin{
	margin: 0 auto;
	display:block;
	padding-top: 135px;
}

.form form{
    width: 311px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
  	margin-right: auto;
  	padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  	padding-right: 30px;
  	border: 2px solid #373737;
  	
}

.res label {
	color: #EC8327;
	width: 100%;
}

select{
	width: 100px;
  	text-align: center;
  	text-align-last: center;
}
option {
 	 text-align: left;
}

.date{
	width: 65px;
}

label{
	display: block;
	width: 150px;
	float: left;
	height: 29px;
	color: #373737;
}

input{
	text-align: center;
	height: 25px;
    border-radius: 5px;
    
}

input[type=text], input[type=password]{
	border: 1px solid #373737;
	
}

.button {
	margin: 0 auto;
	display: block;
	border-radius: 4px;
	background-color: #EC8327;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

i{
    margin-top: 5px;
}

td i{
	margin:0 auto;
	padding:0 auto;
}

.fa { 
    color : white;
}

.fa:hover { 
    color : orange;
}

main nav ul .icone{
    width: 10%;
}

.div_reculer{
	float: left;
	width:50%;
}

.div_avancer{
	float: left;
	width:50%;
}

.conteneur{
	float: bottom;
	margin: 15px 40px;
	overflow-y: scroll;
	height: 445px;
	border-bottom: 0.2px solid black;
	border-top: 0.2px solid black;
}

.div_btnReserv{
	float: left;
	width:50%;
}

.reculer{
	margin-left: 68px;
	padding: 3px;
	width: 80px;
	cursor: pointer;
	background-color: #EC8327;
	color: #FFFFFF;
	border-radius: 4px;
}

.avancer{
	margin-left: 375px;
	padding: 3px;
	width: 80px;
	cursor: pointer;
	background-color: #EC8327;
	color: #FFFFFF;
	border-radius: 4px;
}

.reserver{
	margin-top: 15px;
	padding: 3px;
	width: 80px;
	cursor: pointer;
	background-color: #EC8327;
	color: #FFFFFF;
	border-radius: 4px;
}

.annul{
	margin-top: 15px;
	padding: 3px;
	width: 80px;
	cursor: pointer;
	background-color: #EC8327;
	color: #FFFFFF;
	border-radius: 4px;
}

.invOuPas {
  width: 15px;
  height: 15px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -7px;
  overflow: hidden;
}

